<html>
	<head>
		<title> Pinterest Clone </title>
	</head>
</html>
	<body>
		<header id="nav_top">
			<div id="pint_logo"> <img src="https://github.com/jordanhudgens/pinterest-html-css-clone/blob/master/img/logo.png?raw=true">
			</div>

      <br>

			<div class="search_bar">
			 <input id="search_box" type= "text" placeholder="   Search"/>
			</div>

			<div id="icons">
          <a href="#"><%= image_tag "icon.jpg"%></a>
          <a href="#"><%= image_tag "icon2.jpg"%></a>
          <a href="#"><%= image_tag "logo3.jpg"%></a> 
      </div>

		</header>
    
    <div id="wrapper">
    <div id="columns">
      
      <div class="pins">
        <img src="http://cdn.24.co.za/files/Cms/General/d/119/50c322c744c44116a6fd1fa85aaa2f2a.jpg" />
        <p> 3 ingredient lasagna recipe. 1 cup tomatoe sauce, 2 basil leaves, 3 cups of cheese, 1 pack of dijorno noodles. </p>
      </div>

      <div class="pins">
        <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSTYfsyxkEwJ0o6RyXoJQq9k2O19m43JggpwUOLTpHLRNjyo9ZTjQ" />
        <p> Want silky smooth hair? Loreal products are perfect for satisfying all your dry hair needs.</p>
      </div>

      <div class="pins">
        <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRfs6O6T_3fMn81ov6pAx0R9VA1bibRJLWlxwbKtc8BryEIOd77" /> 
        <p> Makeup up tutorials. Follow me @makeuplace. This tutorial is for a night out with the hubby or boyfriend! </p>
      </div>

      <div class="pins">
        <img src="https://s-media-cache-ak0.pinimg.com/originals/3e/12/e2/3e12e2ffbd0efd1c2437eebb05988c4c.jpg"/> 
        <p> This outfit is from Urban Outfitters and can be purchased for $210. </p>
      </div>

      <div class="pins">
        <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTTbmO1_qDVQr2qwU15tSWcjRsZQXGwBjAxDZMPt9uN7sIraKhQ_w" />
        <p> PUPPIES FOR SALE. 25$ each. CALL (801)444-4444</p>
      </div>

      <div class="pins">
        <img src="https://s-media-cache-ak0.pinimg.com/originals/da/8d/97/da8d97362eec31ad4cd0740cf5305494.jpg" />
        <p> BUNNIES FOR SALE. 15$ each. CALL (801)444-4444</p>
      </div>

      <div class="pins">
        <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTQbMH4cKmd18GGWv2qIVhJCvOqeDaWArQL3BIedLdYDoDgCJA3" />
        <p> Up-do hair styles for prom. </p>
      </div>

      <div class="pins">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0AD-PQRm01vwO_DMOZm4LCfBxw8DEiNte_xLTKuCWQ1IBzqb_oA" />
        <p> How to keep your hair in top notch shape! </p>
      </div>
     
      <div class="pins">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcIiU5amT-Jo-YTieKphd4-38P2HL2vzjP3RXr_9N9cjwu-iYE" />
        <p> The WONDER brush. Can get out all knots and tangles. </p>
      </div>

      <div class="pins">
        <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSBSR8CfgBjn37CM7FX1MOwm5HR1DbZ7ckgEFiKf0BMzGhfAH0w_w" />
        <p> The best hair product available. </p>
      </div>
     
     </div>
    </div>
    </div>
	</body>